@model Pictures.Domain.ViewModels.Account.RegistrationViewModel

@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>
@{
    <div>
        <form class="main-form" asp-controller="Account" asp-action="Registration">

            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="input-element">
                <p>Name:</p>

                <input placeholder="" maxlength="50" asp-for="Name">
                <span class="warning-message" asp-validation-for="Name"></span>
            </div>
            <div class="input-element">
                <p>Surname:</p>

                <input placeholder="" maxlength="50" asp-for="Surname">
                <span class="warning-message" asp-validation-for="Surname"></span>
            </div>
            <div class="input-element">
                <p>Login:</p>

                <input placeholder="" maxlength="50" asp-for="Login">
                <span class="warning-message" asp-validation-for="Login"></span>
            </div>
            <div class="input-element">
                <p>Password:</p>

                <input placeholder="" maxlength="50"  type="password" asp-for="Password">
                <span class="warning-message" asp-validation-for="Password"></span>
            </div>
            <div class="input-element">
                <p>Confirm password:</p>

                <input placeholder="" maxlength="50"  type="password" asp-for="PasswordConfirm">
                <span class="warning-message" asp-validation-for="PasswordConfirm"></span>
            </div>
            <div class="input-element">
                <p>E-mail:</p>

                <input placeholder="" maxlength="50" asp-for="Email">
                <span class="warning-message" asp-validation-for="Email"></span>
            </div>
            <div>
                <button class="button-sumbit" type="submit">Confirm</button>
            </div>
        </form>
    </div>
}
