
.pictures-container {
    width: 1200px;
    margin: auto;
    text-align: center;
}

.picture-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 500px;
    max-width: 300px;
}

.picture-name {
    margin-top: 4px;
    max-width: 300px;
    max-height: 50px;
}

.picture {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: 0.5s;
}

    .picture.scaled:hover {
        box-shadow: black 0px 0px 5px 0px;
    }

.scaled {
    overflow: hidden;
    z-index: 0;
}

    .scaled img {
        transition: 2s;
    }

        .scaled img:hover {
            transform: scale(1.1);
        }

.delete-cross {
}

.delete-cross-button {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0px;
    height: 20px;
    width: 20px;
    border: 0;
    background: transparent;
    transition: 0.5s;
    z-index: 1;
}
    .delete-cross-button img {
        display: flex;
        justify-content: center;
    }
    .delete-cross-button:hover {
        background-color: red;
    }

.main-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.add-picture-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.input-element {
    width: 100%;
}

    .input-element input {
        display: block;
        width: 100%;
        height: 2em;

        margin-top: 5px;
        padding: 5px;

        border: 1px solid rgb(215, 215, 215);
        background-color: rgb(250, 250, 250);
        border-radius: 5px;

        box-shadow: 0px 0px 2px 0px rgb(234, 234, 234);

        transition: 0.3s;
    }
        .input-element input:hover {
            background-color: white;
        }

        .input-element input:focus {
            outline: none;
            background-color: white;
            box-shadow: 0px 0px 5px 1px rgb(234, 234, 234);
        }

    .warning-message {
        margin-left: 5px;
        color: rgb(225, 0, 0);
    }
    .input-element p {
        margin-left: 5px;
        margin-bottom: 0px;
    }

input:not(:placeholder-shown) { /* к заполненному полю применяется этот стиль */
    background-color: rgb(255, 255, 255);
}

.add-picture-input-element {
    height: 44px;
    width: 200px;
}

.add-picture-form {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

    .add-picture-form * {
        margin-top: 5px;
    }

.image-preview {
    margin-top: 5px;
    max-width: 900px;
    max-height: 600px;
    box-shadow: 0px 0px 2px 0px rgb(234, 234, 234);
}

label {
    cursor: pointer;
}

.button-sumbit {
    display: flex;
    height: 2em;
    margin-top: 5px;
    padding: 5px;
    align-items:center;

    border: 1px solid rgb(215, 215, 215);
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgb(234, 234, 234);
    transition: 0.3s;
}

    .button-sumbit:hover {
        background-color: white;
    }

.without-borders {
    border: none;
}
