@model IEnumerable<Pictures.Domain.Entities.Picture>

@{
	ViewData["Title"] = "GetPictures";
}
<h1>Pictures</h1>
@{
	<div class="pictures-container">
		<div class="row mt-3" style="">
			@{
				foreach (var picture in Model)
				{
					<div class="picture-block">
						<div class="picture-name">
							<h2>@picture.Name</h2>
						</div>

						<div>
							<img class="picture" src="@picture.Address" alt="@picture.Name" />
						</div>
					</div>
				}
			}
		</div>
	</div>
}

