@model IEnumerable<Pictures.Domain.Entities.Picture>

@{
    ViewData["Title"] = "GetPictures";
}
<h1>Pictures</h1>
@{
    <div class="pictures-container">
        <div class="row mt-3" style="">
            @{
                foreach (var picture in Model)
                {
                    <div class="picture-block">
                        <div class="picture-name">
                            <h2>@picture.Name</h2>
                        </div>

                        <a class="" href="@picture.Address">
                            <img class="picture scaled" src="@picture.Address" alt="@picture.Name">
                        </a>

                        <div id="popup-link" class="popup-container">
                            <div class="popup-body">
                                <div class="popup-content">
                                <a href="" class="popup-close"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

